@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Hind+Madurai:wght@300;400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Hind+Madurai:wght@300;400;700&family=Raleway:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
:root {
    --fuente: 'Raleway', sans-serif;
    --titulo: 'Space Grotesk', sans-serif;;

    --navegation: #003057;
    --blue1: #00A7C7;
    --blue2: #81C2E2;
    --white: #F8F8FA;
    --green: #72CB10;
    --yellow: #FFDD00;
    --purple: #815C97;
    --greyletter: #5A6978;
    --greycalendar: #969FAA; 
    --black: #000000;
}
body, html{
    height: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: var(--fuente);
    }
html { 
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: border-box;
}
h1{
    font-family: var(--titulo);
    font-weight: 700;
}
h5{
    font-size: 2rem;
    color: var(--greyletter);
    font-family: var(--fuente);
    font-weight: 700;
}
h6{
    font-size: 1.5rem;
}
body{  
    font-family: var(--fuente);
    background-color:#e7ebda;
}
.centro{
    text-align: center;
}
.titulo{
    color: var(--white);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
 
}
nav{
    background-color: var(--greyletter);
}
a{
    text-decoration: none;
}
hr{
    background-color: var(--white);
}
li{
    list-style: none;
}
.centro{
    text-align: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_cont{
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.separacion{
    margin-left: 5rem;
    color: var(--blue1);
}
.boton_salir{
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:2rem;
    padding-right: 2rem;
    background-color:var(--blue1);
    color: var(--white);
    border-radius:2rem;
    border-color: var(--blue1);
}
.boton_salir:hover{
    background-color:var(--green);
    border-color: var(--green);
}
.btn_new{
    font-size: 2rem;
}
.btn_new:hover{
    background-color:var(--navegation);
    border-color: var(--navegation);
}
.boton_guardar{
    font-size: 2rem;
    border-radius: 1rem;
}
.boton_guardar:hover{
    background-color:var(--green);
    border-color: var(--green);
}
.btn_table{
    font-size: 2rem;
    border-radius: 1rem;
}
footer{
    background-color: var(--green);
    margin: 0rem;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    color: var(--black);
}
.menu_izquierdo{
    background-color: var(--navegation);
    display:block;
    float:left;
    margin-right: 2rem;
    height: 100%;
}
.menu_derecho{
    background-color:  var(--navegation);
    display:block;
    float:right;
    margin-left: 2rem;  
    height: 100%;  
}
.menu2{
    width: 20rem;
}
.menu3{
    width: 25rem;
}
.menu2_separacion{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.user{
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--blue2);
}
.paginas{
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--blue2);
}
.nombre{
    text-align: center;
    color: var(--yellow);
    font-size: 2rem;
}
.pagina{
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    padding-left: 2rem;
}
.linea{
    background-color: #000000;
}
.cards{
    margin-top: 2rem;
    margin-left: 2rem;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.clases{
    padding-top: 1rem;
    font-size: 3rem;
    text-align: center;
    color: var(--greyletter);
}
.img_clase{
    width: 41.2rem;
    height: 20rem;
}
.calendario{
    width: 23rem;
    height: 23rem;
}
.sombra{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.horario{
    font-size: 1.5rem;
    color: var(--white);
}
.icono_footer{
    font-size: 2rem;
    color: var(--navegation);
    margin-right: 1.5rem;
}
.icono_submenu{
    color: var(--green);
    margin-left: 0.5rem;
}
.azul{
    margin-top: 0%;
    background-color: var(--green);
}
.submenu{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0%;
    color: var(--blue1);
}
.actividad{
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--green);
}
.actividad_estilo{
    font-size: 2rem;
}
.pestana{
    margin-left: 0.5rem;
}
.texto_actividad{
    color: var(--black);
    font-weight: 500;
    font-size: 1.5rem;
}
.margen{
    margin: 0%;
    padding: 0%;
}
.tamano{
    font-size: 4rem;
}
.input_tamano{
    width: 63%;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}
.form_space label{
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .check_color{
      font-size: 2.5rem;
      border-color: var(--yellow);
  }
  .separar_card{
      margin-bottom: 4rem;
  }
  .alinear{
      text-align: right;
  }
#logo{
    height:6rem;
}
#menu_icono{
    margin-right: 6rem;
    font-size: 2rem;
}
#menu{
    font-size: 2rem;
}
/*-------------Login-----------------------*/
.nav_login{
    background-color: var(--navegation);
}
.body_login{
    background-color: var(--blue1);
}
.icono_login{
    font-size: 3.5rem;
    color: var(--green);
    margin-right: 2.5rem;
}
.contenedor_login{
    background-color: var(--blue2);
    
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
}
.input_tamano_login{
    border-radius: 0.5rem;
    font-size: 1.5rem;
}
.restablecer{
    font-size: 2rem;
}
.imag_largo{
    height: 91%;
}
#logo_login{
    height: 8rem;
}
#icono.icono_login{
    color: var(--yellow);
}
.esquinas{
    border-radius: 1rem;
}
.margenes{
    
    margin-top: 2rem;
}
/*-----------Media-----------------------------*/
@media (max-width: 768px) {
    .menu2{
        width: 15rem;
    }
    .esconder{
        display: none;
    }
    .nombre{
        margin: 0%;
        padding: 0%;
        font-size: 1.5rem;
    }
    .centro{
        text-align: center;
    }
    .img_clase{
        width:16.5rem;
        height: 20rem;
    }
    .separacion{
        margin-left: 1rem;
    }
    
}
@media (min-width: 768px){
    .esconder2{
        display: none;
    }
}
@media (min-width: 480px){
    .esconder3{
        display: none;
    }
}
@media (max-width: 480px){
    .esconder4{
        display: none;
    }
    .separacion{
        margin-left: 1rem;
    }
    .logo_cont{
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #menu_icono{
        font-size: 2rem;
    }
    .boton_salir{
        text-decoration: none;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        padding-left:2rem;
        padding-right: 2rem;
        background-color:var(--blue1);
        color: var(--black);
        border-radius:1rem;
    }
}

