<body>
    <aside class="menu_izquierdo">
        <ul class="menu2 menu2_separacion">
            <span class="nombre"><i class="user fas fa-user"></i>Daniela García</span>
            <span class="nombre">Alumno</span><br>
            <hr>
        <li><a href="#"><i class="paginas fas fa-chart-line"></i>
            <span  class="pagina">Página Principal</span>
            
            <hr>
        </a></li>
        </ul>
    </aside>
    <aside class="menu_derecho">
        <ul class="menu3 menu2_separacion">
            <li class="centro">
            <span class="horario pagina">Horarios</span> 
            <i class="paginas fas fa-calendar"></i>
            <hr>
            <img class="calendario" src="../img/calendar.jpg" alt="">
            <br><br><br>
        </li>
        <li class="centro">
            <span class="horario pagina">Calendario</span>
            <i class="paginas fas fa-calendar-alt"></i>
            <hr>
            <img class="calendario" src="../img/calendar.jpg" alt="">
        </li>
        </ul>
    </aside>
    <nav>  
        <div class="menu"> 
            <div class="logo_cont">
        <img id="logo" src="../img/instituto-novaera-logo (1).png" alt="Novaera"></div>
        <h1 class="titulo centro">Instituto Novaera</h1>
        <ul id="menu_icono">
            <a href="#"><i class="separacion fas fa-user"></i></a>
            <a href="#"><i class="separacion fas fa-bell"></i></a>
            <a href="#"><i class="separacion fas fa-envelope"></i></a>
            <a href="#" class="separacion boton_salir">Salir</a>
        </ul>
        </div>
    </nav>
    
           
            

