</head>
<body>
    <nav>  
          <div id="foto_arriba"></div>
       
              
           
            
           

           
                <!-- DataTales Example -->
    </nav>

    <div class="margen"><!--Comienzo del contenedor principal-->

        <button class="esconder3 btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#esconder3" aria-expanded="false" aria-controls="esconder3">
            <i class="fas fa-bars tamano"></i>
          </button>
          <!--Aside para el menú lateral izquierdo-->
          <aside class="menu_izquierdo  esconder4" >
            <ul class="menu2 menu2_separacion">
              <div class="centro" id="usuario"></div>
            <div id="menulateral" ></div></ul>
            
            <p><br>
              <div class="centro">
              <a href="calendario.php" class="btn btn-primary boton_guardar centro">Ver Calendario</a>
            </div>
          </p>
        </aside>

        <!--Aside para menú escondido lateral izquierdo-->
    <aside id="esconder3" class="collapse menu_izquierdo" >
        <ul class="menu2 menu2_separacion">
            <span class="nombre centro"><i class="esconder user fas fa-user"></i>Daniela García</span>
            <span class="nombre centro">Alumno</span><br>
            <hr>
        <li><a href="#"><i class="paginas esconder fas fa-chart-line"></i>
            <span  class="pagina">Página Principal</span>
            
            <hr>
        </a></li>
        <br>
        </ul>
        <!--<div id="menulateral2" class="menu2 menu2_separacion"></div>-->
        <p>
          <a href="calendario.php" class="btn btn-primary boton_guardar">Ver Calendario</a>
      </p>
    </aside>
    
      
    <!--<div id='calendar'></div>-->
    
        <!--Modal para cambio de contraseña-->
        <div class="modal" id="contrasena1" tabindex="-1" ole="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
                  <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="contraseña2">
                    <p><h3>Cambio de contraseña</h3></p><br>
                    <div class="form-group"><label for="contraseña"><b>Nueva contraseña</b></label><br><br>
                        <input type="password" name="time" class="form-control input_tamano_login" id="con1" min="8" required></div><br>
                        <div class="form-group"><label for="contraseña"><b>Confirmar contraseña</b></label><br><br>
                            <input type="password" name="time" class="form-control input_tamano_login" id="con2" min="8" required></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger boton_cancelar" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary boton_guardar" onclick="u_contrasena();">Guardar contraseña</button>
                </div>
              </div>
            </div>
          </div>

     <!--Modal para mostrar alumnos y elegirlos-->
     <script src="../js/m_alumno_elegir.js"></script>  
     <div class="modal" id="alumnos" tabindex="-1" ole="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" width="100%">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
            <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="alumnos2">
            <h6 class="centro">Se guardó correctamente el usuario el password es:  <p style="text-align:center" id="mensaje"></p> </h6><br>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Listado de alumnos</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTableAlumnos" width="100%" cellspacing="0">
                    <thead id="tabla">
                      <tr>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Nombre</th>
                        <th>Nivel</th>
                        <th>Grado</th>
                        <th>Grupo</th>
                        <th>Selección</th>
                      </tr>
                    </thead>
                            </table>
                          </div>
                        </div>
                    </div>
                    
                    <p id="correcto" style="color:red; font-size: medium;" class="centro"></p>
                    <div id="correcto2"></div>
          </div>
        </div>
      </div>
    </div> 
      
    <!--Modal para avisos en el sistema-->
    <div class="modal" id="modal_falla" tabindex="-1" ole="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
            <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="text-align:center" id="modal-falla2">
          </div>
        </div>
      </div>
    </div>

     <!--Modal para calificaciones finales-->
  <div class="modal" id="tabla_califF" tabindex="-1" ole="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" width="100%">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
          <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="tabla_califF2">
          <h6 class="centro">Mis calificaciones</h6><br>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Listado de calificaciones Finales</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTablecalifF" width="100%" cellspacing="0">
                  <thead id="tabla">
                    <tr>
                      <th>Nombre de la materia</th>
                      <th>Calificación</th>
                    </tr>
                  </thead>
                          </table>
                        </div>
                      </div>
                  </div>
        </div>
      </div>
    </div>
  </div> 

<!--Modal para crear nuevo periodo-->
<div class="modal fade" id="periodo1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
        <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="periodo2">
          <p><h3>Nuevo Periodo Escolar</h3></p><br>
          <form action="javascript:guardarPeriodo();" autocomplete="off">
          <div class="form-group">
            <label for="nombreP"><b>Nombre del periodo</b></label><br><br>
              <input type="text" name="nombreP" class="form-control input_tamano_login" id="nombreP" maxlength="100" required></div><br>
              <div class="form-group"><label for="inicio"><b>Fecha de Inicio</b></label><br><br>
                  <input type="date" name="inicio" class="form-control input_tamano_login" id="inicio" required></div><br>
                <div class="form-group"><label for="termino"><b>Fecha de Termino</b></label><br><br>
              <input type="date" name="termino" class="form-control input_tamano_login" id="termino"required></div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger boton_cancelar" data-bs-dismiss="modal">Cancelar</button>
        <input type="submit" class="btn btn-primary boton_guardar" value="Guardar Periodo">
        </form>
      </div>
    </div>
  </div>
</div>


 <!--Modal para mostrar chats-->
 <div class="modal" id="mchat" tabindex="-1" ole="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" width="100%">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
        <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="mchat2">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Aquí se muestran los mensajes no leídos</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTableChat" width="100%" cellspacing="0">
                <thead id="tabla">
                  <tr>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Leer</th>
                  </tr>
                </thead>
                        </table>
                      </div>
                      <input onclick="iniciar();" type="submit" class="btn btn-primary boton_guardar" value="Ver o iniciar Chat">
                    </div>
                </div>
      </div>
    </div>
  </div>
</div>
   

<!--Modal para chat personal-->
<div class="modal fade" id="chatp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
        <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="chatp2">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Chat Personal</h6>
        </div>
        <br>
        <div id="mensajesC" style="overflow-y: scroll;height: 300px;width: 100%;"></div>
      </div>
      <div class="modal-footer">
          <textarea name="contenido" id="contenido" cols="57" rows="3" placeholder="Escribe algo..."></textarea>
        <input type="submit" class="btn btn-primary boton_guardar" value="Enviar" onclick="enviar();">
      </div>
    </div>
  </div>
</div>


<!--Modal para iniciar o ver chats-->
<div class="modal" id="iniciarC" tabindex="-1" ole="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" width="100%">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
        <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="iniciarC2">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Inicia o ve una conversación</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTableiniciar" width="100%" cellspacing="0">
                <thead id="tabla">
                  <tr>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Iniciar o ver</th>
                  </tr>
                </thead>
                        </table>
                      </div>
                    </div>
                </div>
      </div>
    </div>
  </div>
</div>

<!--Modal para mostrar notificaciones-->
<div class="modal" id="mnoti" tabindex="-1" ole="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" width="100%">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
        <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="mchat2">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Aquí se muestran las notificaciones no leídas</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTableNoti" width="100%" cellspacing="0">
                <thead id="tabla">
                  <tr>
                    <th>Fecha</th>
                    <th>Contenido</th>
                    <th>Leer</th>
                  </tr>
                </thead>
                        </table>
                      </div>
                    </div>
                </div>
      </div>
    </div>
  </div>
</div>

   <!--Modal para calificaciones finales mostrar padres-->
   <div class="modal" id="tabla_califFP" tabindex="-1" ole="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" width="100%">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Instituto Novaera</h5>
          <button type="button" class="btn-close" id="close2" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="tabla_califFP2">
          <h6 class="centro">Calificaciones Finales</h6><br>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Listado de calificaciones Finales</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTablecalifFP" width="100%" cellspacing="0">
                  <thead id="tabla">
                    <tr>
                      <th>Materia</th>
                      <th>Calificación</th>
                    </tr>
                  </thead>
                          </table>
                        </div>
                      </div>
                  </div>
        </div>
      </div>
    </div>
  </div>     
           
            

